
<h1>The results of sum:
    <%= params[:x].to_i + params[:y].to_i %>
</h1>
<form method="get" action="/pages/create">
    <input name="x">
    <input name="y">
    <input type="submit" value="Enviar" >
</form>