
<h2>[Form 2.0]</h2>

<form method="get" action="/pages/create">
    
    [Email]: <input name="email">
    [Age]: <input name="age" type="number">
    <input type="submit" value="Enviar" class="btn btn-primary" >

</form>